{% from '@OdiseoSyliusReportPlugin/Form/_macros.html.twig' import report_form_field %}

{% set has_hidden_fields = false %}

{# Check if there is at least one hidden field #}
{% for field in configurationForm %}
    {% if field.vars.attr['data-hidden'] is defined  and field.vars.attr['data-hidden'] == true %}
        {% set has_hidden_fields = true %}
    {% endif %}
{% endfor %}

{# Render visible filters #}
{% for field in configurationForm %}
    {% if field.vars.attr['data-hidden'] is not defined or field.vars.attr['data-hidden'] is defined and field.vars.attr['data-hidden'] == false %}
        {{ report_form_field(field, loop.index) }}
    {% endif %}
{% endfor %}

{# Render hidden filters (more filters) #}
{% if has_hidden_fields %}
    <div class="ui accordion">
        <div class="title">
            <i class="dropdown icon"></i>
            {{ 'odiseo_sylius_report_plugin.ui.more_filters'|trans }}
        </div>
        <div class="content">
            {% for field in configurationForm %}
                {% if field.vars.attr['data-hidden'] is defined  and field.vars.attr['data-hidden'] == true %}
                    {{ report_form_field(field, loop.index) }}
                {% endif %}
            {% endfor %}
        </div>
</div>
{% endif %}
